/****************************TAG STYLES*******************************/

h1, h2, h3 {
    color: white;
    font-family: 'Playfair Display', serif;
}

h4, h5, h6 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
}

hr {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: white;
    width: 6rem;
}

/****************************CLASS STYLES*******************************/

.main-row {
    margin: 0;
}

.link:hover, .link:visited, .link:link {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.divider {
    width: 50%;
    text-align: center;
    margin: 5%;
}

/************Home Page************/
.home-container {

    background-image: url("Images/fish_background_crop.jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: repeat;
}

@media (max-width: 1100px) {
    .home-container{
        background-size: 1100px auto;
    }
}

/**Top Section**/

.top-container {
    padding: 8%;
}

.top-container > h1{
    color: white;
    font-weight: 800;
    display: inline-block;
    padding: 0;
    font-size: 8vmax;
}

.top-title {
    margin: 8% 0% 0% 0%;
    margin-left: 0%;
}

.bottom-title {
    margin-left: 5%;
}

/**  About Section  **/

#about {
    margin: 0 10% 10% 10%;
    text-align: center;
    color: white;
}

.about-col{
    padding: 10% 5% 0% 5%;
}

.about-title {
    font-weight: 700;
    font-size: 4vmax;
    padding: 10% 5% 0% 5%;
}

/** About Text **/
.about-col > h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vmax;
}

.about-col > p {
    font-family: 'Montserrat', sans-serif;
    font-size:1vmax;
}

/** Headshot Formatting **/
.image-col {
    text-align: left;
}

.headshot-img {
    width: 24vmax;
    margin-top: 10%;
    border-radius: 100%;
    border-style: solid;
    border-color: #2A3754;
    border-width: .5rem;
}

/*iPad responsiveness*/
@media (max-width: 850px){
    #about {
        margin: 12% 10% 10% 10%;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-col > h4 {
        font-size: 1.5rem;
    }
    
    .image-col{
        text-align: center;
    }

    .headshot-img {
        width: 10rem;
        margin-top: 5%;
    }
}

/*iPhone responsiveness*/
@media (max-width: 600px){
    #about {
        margin: 35% 10% 10% 10%;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-col > h4 {
        font-size: 1.2rem;
    }
    
    .image-col{
        text-align: center;
    }

    .headshot-img {
        width: 10rem;
        margin-top: 5%;
    }
}

/** Work and Projects (Homepage bottom) **/

#work-and-projects {
    margin-top: 16%;
    text-align: center;
    line-height: 1.2;
}

.wap-title {
    font-weight: 700;
    font-size: 3vmax;
}

.wap-row {
    margin: 5% 10% 0% 10%;
}

.wap-col {
    padding: 10;
}

.wap-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
}

.wap-subtitle {
    font-weight: 700;
    font-size: 1.5vmax;
}

.wap-card-text {
    font-size: 1vmax;
}

.wap-btn {
    font-size: .8vmax;
}

.mobile-btn {
    display: none;
}

/** iPhone Responsiveness**/
@media (max-width: 850px){
    #work-and-projects {
        margin-top: 35%;
    }

    .mobile-btn {
        display: inline-block;
    }

    .wap-title {
        font-size: 2rem;
    }

    .wap-card {
        display: none;
    }
}

@media (max-width: 850px){
    #work-and-projects {
        margin-top: 25%;
    }

    .mobile-btn {
        display: inline-block;
    }

    .wap-title {
        font-size: 2rem;
    }

    .wap-card {
        display: none;
    }
}

@media (max-width: 600px){
    #work-and-projects {
        margin-top: 35%;
    }

    .mobile-btn {
        display: inline-block;
    }

    .wap-title {
        font-size: 2rem;
    }

    .wap-card {
        display: none;
    }
}

/** Footer **/
.footer {
    background-color: black;
    text-align: center;
    padding: 4% 0 2% 0;
}

.footer >p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}

.footer-icon {
    color: white;
    font-size: 2.5rem;
    margin: 20px 10px;
}

/************Contact************/

.contact-main-row {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("Images/beach-graffiti2.jpg");
    background-size: cover;
    background-position: center center;
}

.contact-row {
    display: block;
    text-align: center;
}

.sub-row {
    margin: 3%;
}

.page-title {
    font-weight: 900;
    font-size: 5vmax;
}

.contact-icon-lg {
    color: white;
    margin: 3% 3%;
    font-size: 6vmax;
}

.contact-icon {
    color: white;
    margin: 1%;
    font-size: 2vmax;
    vertical-align: middle;
}

/************Projects************/
.project-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("Images/lucha2.jpg");
    background-size: cover;
    background-position: center center;
    display: block;
    text-align: center;
    margin: 0px;
}

.project-bucket {
    margin-top: 5%;
}

.project-head-row {
    display: block;
    text-align: left;
}

.project-head-row > hr {
    text-align: left;
}

.project-row {
    text-align: center;
}

.project-col > p{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: .9vmax;
    margin: 3% 20%;
    color: white;
}

.project-title {
    text-align: left;
    font-size: 2.5vmax;
}

.project-subtitle {
    text-align: right;
    font-size: 1.5vmax;
    font-weight: 700;
    margin: 3%;
}

.project-img {
    width: 20vmax;
    vertical-align: middle;
}



/****************************BOOTSTRAP CLASS OVERRIDE STYLES*******************************/
.navbar {
    height: 4.325rem;
}


.navbar-nav > li{
    padding-left:25px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 1.8rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border-radius: 0px;
    padding: .250rem .75rem;
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
}

.bg-dark {
    background-color: black !important;
}

.dropdown-item:active {
    background-color: black !important;
}

.dropdown-menu {
    border-radius: 0px;
    padding: 0px;
}

.card-text {
    margin-top: 5px;
}